body{
	min-width:980px;
	margin:0;
	color:#3b3b3b;
	font:14px/18px Arial, Helvetica, sans-serif;
	background:#e9e9e9 url(../images/bg-body.gif);
}
img{border-style:none;}
a{text-decoration:none; color:#00f;}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
	margin:0;
	padding:0;
}
a.hidden {
	position:absolute;
	top:0;
	left:-9999px;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
/* header */
#header{
	background:url(../images/bg-header.jpg) repeat-y 50% 0;
	width:100%;
	position:relative;
	z-index:50;
}
#header:after{
	content:'';	display:block;	clear:both;
}
.header-holder{
	width:980px;
	margin:0 auto 24px;
	overflow:hidden;
}
/* logo */
.logo{
	background:url(../images/logo.png) no-repeat;
	width:256px;
	height:109px;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
}
.logo a{
	display:block;
	height:100%;
}
.header-frame{
	width:700px;
	float:right;
	padding:12px 0 0;
}
.header-frame .holder{
	overflow:hidden;
	margin:0 0 49px;
}
.text-resize{
	float:right;
	background:url(../images/sprite.png) no-repeat;
	width:42px;
	height:16px;
	text-indent:-9999px;
	overflow:hidden;
}
.text-resize:hover{
	text-decoration:none;
	background:url(../images/sprite.png) no-repeat 0 -22px;
}
.sound{
	float:right;
	font-size:11px;
	line-height:13px;
	font-weight:bold;
	color:#5f5f5e;
	padding:2px 31px 2px 0;
	margin:2px 36px 0 0;
	background:url(../images/sprite.png) no-repeat 100% 1px;
}
.sound:hover{
	color:#2a83d4;
	text-decoration:none;
	background:url(../images/sprite.png) no-repeat 100% -38px;
}
.sound.active{background:url(../images/sprite.png) no-repeat 100% -79px;}
#header .frame{overflow:hidden;}
/* search form */
.search-form{
	float:right;
	overflow:hidden;
	background:#fff;
	border:1px solid #b5b5b5;
	width:178px;
	height:30px;
	border-radius: 8px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 8px; /* FF3+ */
	-webkit-border-radius: 8px; /* Safari 3+, Chrome */
	box-shadow: 0 1px 1px #000 inset; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 1px 1px #000 inset; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 1px 1px #000 inset; /* FF 3.1+ */
}
.search-form .text{
	background:none;
	border:none;
	float:left;
	margin:0;
	padding:8px 5px;
	width:113px;
	font-size:12px;
	line-height:14px;
	color:#000;
}
.search-form .btn{
	background: rgb(208,226,247); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZTJmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2MyZDNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2I4Y2FkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGNhZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(208,226,247,1) 0%, rgba(194,211,231,1) 49%, rgba(184,202,221,1) 50%, rgba(184,202,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,226,247,1)), color-stop(49%,rgba(194,211,231,1)), color-stop(50%,rgba(184,202,221,1)), color-stop(100%,rgba(184,202,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(208,226,247,1) 0%,rgba(194,211,231,1) 49%,rgba(184,202,221,1) 50%,rgba(184,202,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(208,226,247,1) 0%,rgba(194,211,231,1) 49%,rgba(184,202,221,1) 50%,rgba(184,202,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(208,226,247,1) 0%,rgba(194,211,231,1) 49%,rgba(184,202,221,1) 50%,rgba(184,202,221,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(208,226,247,1) 0%,rgba(194,211,231,1) 49%,rgba(184,202,221,1) 50%,rgba(184,202,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e2f7', endColorstr='#b8cadd',GradientType=0 ); /* IE6-8 */
	border-radius: 0 8px 8px 0; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 0 8px 8px 0; /* FF3+ */
	-webkit-border-radius: 0 8px 8px 0; /* Safari 3+, Chrome */
	border:1px solid #6d89ac;
	border-width:1px 0 0;
	float:left;
	position:relative;
	overflow:hidden;
	margin:0;
	padding:0;
	width:55px;
	height:30px;
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	color:#244a72;
	text-align:center;
	cursor:pointer;
}
.search-form .btn:hover{
	cursor:pointer;
	background: rgb(143,186,227); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmYmFlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzg1YWZkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzgwYTdjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGE3Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(143,186,227,1) 0%, rgba(133,175,213,1) 49%, rgba(128,167,204,1) 50%, rgba(128,167,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,186,227,1)), color-stop(49%,rgba(133,175,213,1)), color-stop(50%,rgba(128,167,204,1)), color-stop(100%,rgba(128,167,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(143,186,227,1) 0%,rgba(133,175,213,1) 49%,rgba(128,167,204,1) 50%,rgba(128,167,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(143,186,227,1) 0%,rgba(133,175,213,1) 49%,rgba(128,167,204,1) 50%,rgba(128,167,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(143,186,227,1) 0%,rgba(133,175,213,1) 49%,rgba(128,167,204,1) 50%,rgba(128,167,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(143,186,227,1) 0%,rgba(133,175,213,1) 49%,rgba(128,167,204,1) 50%,rgba(128,167,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fbae3', endColorstr='#80a7cc',GradientType=0 ); /* IE6-8 */
}
.search-form .btn.pressed{
	background: rgb(92,140,194); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjOGNjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZmJjZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(92,140,194,1) 0%, rgba(143,188,228,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,140,194,1)), color-stop(100%,rgba(143,188,228,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(92,140,194,1) 0%,rgba(143,188,228,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(92,140,194,1) 0%,rgba(143,188,228,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(92,140,194,1) 0%,rgba(143,188,228,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(92,140,194,1) 0%,rgba(143,188,228,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c8cc2', endColorstr='#8fbce4',GradientType=0 ); /* IE6-8 */
}
/* top-nav */
.top-nav{
	padding:0;	margin:17px -3px 0 0;	list-style:none;
	float:right;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
}
.top-nav li{
	float:left;
	background:url(../images/separator1.gif) no-repeat 0 3px;
	padding:0 14px 0 15px;
}
.top-nav li:first-child{
	background:none;
	padding-left:0;
}
.top-nav a{color:#244a73;}
.top-nav a:hover{
	text-decoration:none;
	color:#2a83d4;
}
/* nav-holder */
.nav-holder{
	width:100%;
	position:relative;
	height:48px;
	background:url(../images/bg-nav.png) repeat-x;
}
/* navigation */
#nav{
	padding:0;	margin:0 auto;	list-style:none;
	width:980px;
	font-size:15px;
	line-height:17px;
	font-weight:bold;
	text-align:center;
	background:url(../images/separator2.gif) no-repeat 100% 6px;
}
#nav:after{
	content:'';	display:block;	clear:both;
}
#nav li{
	float:left;
	background:url(../images/separator2.gif) no-repeat 0 6px;
	padding:0 0 0 2px;
}
#nav a{
	color:#f1f1f0;
	text-shadow:0 -1px 1px #244a73;
}
#nav a:hover{
	text-decoration:none;
	color:#07325f;
	text-shadow:none;
}
#nav .has-drop-down a{
	color:#fff;
	padding:8px 52px 8px 6px;
	background:url(../images/sprite.png) no-repeat 100% -193px;
}
#nav li.has-drop-down:hover a,
#nav .has-drop-down a:hover{
	text-shadow:none;
	background:url(../images/sprite.png) no-repeat 100% -274px;
	color:#07325f;
}
#nav .has-drop-down.active a{background:url(../images/sprite.png) no-repeat 100% -370px;}
#nav span{
	float:left;
	padding:15px 30px 16px;
}
#nav .active span{background:url(../images/arrow.gif) no-repeat 50% 100%;}
#nav.scaling-active span{padding:15px 0 16px;}
/* drop */
.drop-area{
	width:709px;
	padding:11px 0 0;
	position:absolute;
	top:45px;
	right:-349px;
	display:none;
}
.drop{
	width:637px;
	position:relative;
	padding:23px 36px 24px;
	background:#f2f2f1;
	border:2px solid #0f3a67;
	border-radius: 8px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 8px; /* FF3+ */
	-webkit-border-radius: 8px; /* Safari 3+, Chrome */
	box-shadow: 0 4px 12px #333; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow:0 4px 12px #333; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 4px 12px #333; /* FF 3.1+ */
}
.drop-holder{overflow:hidden;}
.drop .arrow{
	background:url(../images/sprite.png) no-repeat 0 -126px;
	width:34px;
	height:21px;
	position:absolute;
	top:-21px;
	left:319px;
	text-indent:-9999px;
	overflow:hidden;
}
#nav ul{
	padding:0;	margin:0 0 0 13px;	list-style:none;
	width:222px;
	float:left;
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	text-align:left;
}
#nav ul:first-child{margin-left:0;}
#nav .col3{width:160px;}
#nav ul li{
	float:none;
	display:block;
	width:100%;
	overflow:hidden;
	background:none;
	padding:0 0 6px;
}
#nav li.has-drop-down:hover ul a,
#nav .has-drop-down ul a,
#nav ul a{
	color:#244a73;
	text-shadow:none;
	padding:6px 5px 7px 15px;
	display:block;
	overflow:hidden;
	background:none;
	border-radius: 7px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 7px; /* FF3+ */
	-webkit-border-radius: 7px; /* Safari 3+, Chrome */
}
#nav li.has-drop-down:hover ul a:hover,
#nav ul a:hover{
	background:#d7dfe6;
	text-decoration:none;
}
#nav.scaling-active ul span,
#nav ul span{
	cursor:pointer;
	background:url(../images/sprite.png) no-repeat -782px -121px;
	padding:0 0 0 26px;
}
#nav li:hover{position:relative;}
#nav li:hover .drop-area{display:block;}
/* visual block */
.visual{
	position:relative;
	z-index:1;
	width:100%;
	overflow:hidden;
	background:url(../images/bg-visual.jpg) no-repeat 50% 0;
	margin:0 auto 18px;
}
/* slide-block */
.slide-block{
	height:443px;
	margin:39px auto 0;
	position:relative;
	width:940px;
}
/* slideshow */
.slide-block .slideshow{
	position:relative;
	padding:0;	margin:0;	list-style:none;
	
}
.carousel-controls{
	left: 50%;
	margin-left: -470px;
	position: absolute;
	top: 0;
	width: 940px;
	z-index: 99;
}
.slide-block .slideshow:after{
	clear:both;
	display:block;
	content:"";
}
.slide-block .slideshow li{
	position:absolute;
	top:0;
	left:0;
	width:725px;
	height:380px;
	padding:0 0 36px;
}
.slide-block .slideshow li.active{
	background:url(../images/slide-shadow.png) no-repeat 50% 100%;
}
.slide-block .slideshow .slide{
	width:100%;
	height:100%;
	background:#fff;
	position:relative;
	overflow:hidden;
	box-shadow: 0 -2px 30px #495970; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 -2px 30px #495970; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 -2px 30px #495970; /* FF 3.1+ */
}
.slide-block .slideshow .slide-box{
	padding:10px;
}
.slide-block .slideshow img{vertical-align:top;}
/* text-area */
.slide-block .slideshow .text-area{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	overflow:hidden;
	color:#dadada;
	font-size:16px;
	line-height:19px;
}
.slide-block .slideshow .text-area .frame-text{
	padding:15px 23px 20px 17px;
	overflow: hidden;
	height:75px;
	border:solid #fff;
	border-width:0 10px 10px;
}
.slide-block .slideshow .text-area .holder{
	float:left;
	width:400px;
}
.slide-block .slideshow .brown{
	background: rgb(72,72,72); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0ODQ4NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2IzYjNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(72,72,72,1) 0%, rgba(59,59,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(72,72,72,1)), color-stop(100%,rgba(59,59,59,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(72,72,72,1) 0%,rgba(59,59,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(72,72,72,1) 0%,rgba(59,59,59,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(72,72,72,1) 0%,rgba(59,59,59,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(72,72,72,1) 0%,rgba(59,59,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#3b3b3b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.slide-block .slideshow .blue{
	background:#29729a;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyZDdiYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjg3MDk3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(45,123,168,1) 0%, rgba(40,112,151,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,123,168,1)), color-stop(100%,rgba(40,112,151,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(45,123,168,1) 0%,rgba(40,112,151,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(45,123,168,1) 0%,rgba(40,112,151,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(45,123,168,1) 0%,rgba(40,112,151,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(45,123,168,1) 0%,rgba(40,112,151,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d7ba8', endColorstr='#287097',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.slide-block .slideshow .red{
	background:#9a2932;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhNzJjMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTcyODMxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(167,44,54,1) 0%, rgba(151,40,49,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(167,44,54,1)), color-stop(100%,rgba(151,40,49,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(167,44,54,1) 0%,rgba(151,40,49,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(167,44,54,1) 0%,rgba(151,40,49,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(167,44,54,1) 0%,rgba(151,40,49,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(167,44,54,1) 0%,rgba(151,40,49,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a72c36', endColorstr='#972831',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.slide-block .slideshow .title{
	display:block;
	font:normal 29px/31px 'Times New Roman', Georgia, serif;
	margin:0 0 6px -3px;
	color:#fff;
}
.slide-block .slideshow p{margin:0;}
.slide-block .slideshow .more{
	width:117px;
	padding:7px 0 6px;
	margin:38px 0 0;
	float:right;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	color:#3d3d3d;
	text-align:center;
	background:#dbdada;
	border:1px solid #171515;
	border-radius: 13px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 13px; /* FF3+ */
	-webkit-border-radius: 13px; /* Safari 3+, Chrome */
	box-shadow: 0 0 2px #333 inset; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 0 2px #333 inset; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 0 2px #333 inset; /* FF 3.1+ */
	opacity: 0.6; /* FF 2+, Safari 1.2+, Chrome, Opera 9+ */
	filter: alpha(opacity=60); /* IE 6+ */
}
.slide-block .slideshow .more:hover{
	text-decoration:none;
	opacity:1;
	filter: alpha(opacity=100); /* IE 6+ */
}
/* prev, next btns */
.slide-block .prev,
.slide-block .next{
	width:77px;
	height:77px;
	position:absolute;
	top:192px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:99;
}
.slide-block .prev{
	background:url(../images/sprite.png) no-repeat -59px 0;
	left:-106px;
}
.slide-block .next{
	background:url(../images/sprite.png) no-repeat -141px 0;
	right:-106px;
}
.slide-block .prev:hover{background:url(../images/sprite.png) no-repeat -59px -81px;}
.slide-block .next:hover{background:url(../images/sprite.png) no-repeat -141px -81px;}
/* main block */
#main{
	width:980px;
	margin:0 auto 47px;
}
#main:after{
	content:'';	display:block;	clear:both;
}
/* info-row */
.info-row{
	overflow:hidden;
	margin:0 0 27px;
}
.info-row h1{
	margin:0;
	float:left;
	font:italic normal 28px/32px 'Times New Roman', Georgia, serif;
	color:#444;
}
/* social-networks */
.social-networks{
	padding:0;	margin:5px -1px 0 0;	list-style:none;
	float:right;
}
.social-networks li{
	float:left;
	margin:0 0 0 4px;
}
.social-networks a{
	float:left;
	width:26px;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
}
.social-networks a:hover{text-decoration:none;}
.social-networks .facebook{background:url(../images/sprite.png) no-repeat -221px 0;}
.social-networks .twitter{background:url(../images/sprite.png) no-repeat -251px 0;}
.social-networks .rss{background:url(../images/sprite.png) no-repeat -281px 0;}
.social-networks .email{background:url(../images/sprite.png) no-repeat -311px 0;}
.social-networks .facebook:hover{background:url(../images/sprite.png) no-repeat -221px -30px;}
.social-networks .twitter:hover{background:url(../images/sprite.png) no-repeat -251px -30px;}
.social-networks .rss:hover{background:url(../images/sprite.png) no-repeat -281px -30px;}
.social-networks .email:hover{background:url(../images/sprite.png) no-repeat -311px -30px;}
/* info-block */
.info-block{
	width:980px;
	margin:0 -9999px 23px;
	padding:28px 9999px 33px;
	overflow:hidden;
	position:relative;
	background:#e5e5e5;
}
/* tabset */
.tabset{
	width:470px;
	padding:0;	margin:0 auto 33px;	list-style:none;
	overflow:hidden;
	text-align:center;
	font:normal 18px/20px 'Times New Roman', Georgia, serif;
	border:1px solid #b5b4b4;
	border-radius: 13px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 13px; /* FF3+ */
	-webkit-border-radius: 13px; /* Safari 3+, Chrome */
	box-shadow: 0 1px 2px #fff; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 1px 2px #fff; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 1px 2px #fff; /* FF 3.1+ */
}
.tabset li{
	float:left;
	border-left:1px solid #b5b4b4;
	overflow:hidden;
}
.tabset li:first-child{border:none;}
.tabset a{
	padding:9px 20px 8px;
	float:left;
	color:#444;
	background: #f4f4f4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU4ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #e6e8e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e6e8e7));
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#e6e8e7 100%);
	background: -o-linear-gradient(top,  #f4f4f4 0%,#e6e8e7 100%);
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#e6e8e7 100%);
	background: linear-gradient(top,  #f4f4f4 0%,#e6e8e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e6e8e7',GradientType=0 );
}
.tabset.scaling-active a{padding:9px 0 8px;}
.tabset a:hover{
	text-decoration:none;
	background: #e6e6e4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2Q5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e6e6e4 0%, #d7d9d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e4), color-stop(100%,#d7d9d8));
	background: -webkit-linear-gradient(top,  #e6e6e4 0%,#d7d9d8 100%);
	background: -o-linear-gradient(top,  #e6e6e4 0%,#d7d9d8 100%);
	background: -ms-linear-gradient(top,  #e6e6e4 0%,#d7d9d8 100%);
	background: linear-gradient(top,  #e6e6e4 0%,#d7d9d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e4', endColorstr='#d7d9d8',GradientType=0 );
}
.tabset .active{
	background: #dfe6ee;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZTZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWRhZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #dfe6ee 0%, #d1dae2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfe6ee), color-stop(100%,#d1dae2));
	background: -webkit-linear-gradient(top,  #dfe6ee 0%,#d1dae2 100%);
	background: -o-linear-gradient(top,  #dfe6ee 0%,#d1dae2 100%);
	background: -ms-linear-gradient(top,  #dfe6ee 0%,#d1dae2 100%);
	background: linear-gradient(top,  #dfe6ee 0%,#d1dae2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe6ee', endColorstr='#d1dae2',GradientType=0 );
}
.tabset .first-child a{
	border-radius: 13px 0 0 13px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 13px 0 0 13px; /* FF3+ */
	-webkit-border-radius: 13px 0 0 13px;/* Safari 3+, Chrome */
}
.tabset .last-child a{
	border-radius: 0 13px 13px 0; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 0 13px 13px 0; /* FF3+ */
	-webkit-border-radius: 0 13px 13px 0;/* Safari 3+, Chrome */
}
.info-block .tab-content .holder{
	width:100%;
	padding:0 0 36px;
}
.info-block .tab-content .holder:after{
	content:'';	display:block;	clear:both;
}
/* col */
.info-block .col{
	width:300px;
	float:left;
	margin:0 0 0 40px;
}
.info-block .col:first-child{margin-left:0;}
.info-block .col .frame{padding:0 0 0 9px;}
.info-block .col img{
	display:block;
	border:6px solid #fff;
	margin:0 0 17px;
	box-shadow: 0 2px 2px #666; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 2px 2px #666; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 2px 2px #666; /* FF 3.1+ */
}
.info-block .col h2{
	margin:0 0 8px;
	font:normal 20px/24px 'Times New Roman', Georgia, serif;
	color:#183b60;
}
.info-block .col h2 a{color:#183b60;}
.info-block .col a:hover{
	text-decoration:none;
	color:#2a83d4;
}
.info-block .col .date{
	display:block;
	font-size:12px;
	line-height:14px;
	font-style:italic;
	color:#616161;
	margin:0 0 10px;
}
.info-block .col p{margin:0 0 15px;}
.info-block .col .more{
	display:inline-block;
	vertical-align:top;
	background:url(../images/arrow2.png) no-repeat 1px 3px;
	padding:0 0 0 12px;
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#013266;
}
.info-block .col .more:hover{background:url(../images/arrow2.png) no-repeat 1px -88px;}
/* link-more */
.link-more{
	display:block;
	overflow:hidden;
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	text-transform:uppercase;
	padding:0 20px 0 0;
}
.link-more a{
	color:#013266;
	float:right;
	background:url(../images/arrow2.png) no-repeat 1px 2px;
	padding:0 0 0 12px;
}
.link-more a:hover{
	text-decoration:none;
	color:#2a83d4;
	background:url(../images/arrow2.png) no-repeat 1px -89px;
}
/* tab-block */
.tab-block{
	padding:0 0 10px;
	overflow:hidden;
}
.tab-block .tabset{
	width:509px;
	margin:0 auto 49px;
}
.tab-block .holder{
	overflow:hidden;
	margin:0 0 26px;
}
/* col */
.tab-block .col{
	width:225px;
	float:left;
	margin:0 0 0 15px;
	font-size:13px;
	line-height:15px;
}
.tab-block .col:first-child{margin-left:0;}
.tab-block .col .frame{
	display:block;
	overflow:hidden;
}
/* date */
.tab-block .col .date{
	float:left;
	background:url(../images/sprite.png) no-repeat 0 -61px;
	width:38px;
	height:28px;
	padding:5px 0 18px;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	margin:0 10px 0 0;
}
.tab-block .col .date span{
	display:block;
	font-size:8px;
	line-height:8px;
	text-transform:uppercase;
	font-weight:bold;
}
.tab-block .col .title{
	display:block;
	font-weight:bold;
	color:#414140;
	margin:0 0 9px;
}
.tab-block .col .title a{color:#414140;}
.tab-block .col .title a:hover{
	text-decoration:none;
	color:#2a83d4;
}
.tab-block .col ul{
	padding:0;	margin:0;	list-style:none;
	font-style:italic;
	color:#535352;
}
.tab-block .col ul li{margin:0 0 1px;}
/* content page */
/* visual-block */
.visual-block{
	background:url(../images/bg-visual-small.jpg) repeat-x;
	margin:0 0 42px;
}
/* visual-holder */
.visual-holder{
	background:url(../images/bg-visual.jpg) no-repeat 50% -214px;
	margin:0 0 25px;
}
.visual-block-holder{
	width:980px;
	margin:0 auto;
	padding:17px 0 13px;
}
.visual-block-holder .frame{overflow:hidden;}
.visual-holder .visual-block-holder .frame{margin:0 0 24px;}
/* breadcrumbs */
.breadcrumbs{
	float:left;
	padding:6px 0 0;
	font-size:12px;
	line-height:16px;
}
.visual-block .title{
	float:left;
	font-weight:normal;
	color:#434343;
	margin:0 8px 0 0;
}
.breadcrumbs ul{
	padding:0;	margin:0;	list-style:none;
	float:left;
	color:#013266;
}
.breadcrumbs ul li{
	float:left;
	background:url(../images/separator5.png) no-repeat 0 4px;
	padding:0 2px 0 6px;
}
.breadcrumbs ul li:first-child{
	background:none;
	padding-left:0;
}
.breadcrumbs ul a{color:#013266;}
.visual-block .plugin-holder{float:right;}
.visual-block img{vertical-align:top;}
.content-block h1{
	margin:0 0 25px;
	padding:0 0 6px;
	font:normal 36px/40px 'Times New Roman', Georgia, serif;
	color:#4e4e4e;
	border-bottom:1px solid #989899;
}
/* text-block */
.content-block .text-block{
	overflow:hidden;
	font-size:21px;
	line-height:25px;
	color:#444;
	margin:0 0 47px;
}
.content-block .text-block .holder{
	width:460px;
	float:left;
	margin:0 0 0 39px;
}
.content-block .text-block .holder:first-child{margin-left:0;}
.content-block .text-block p{margin:0;}
/* items block */
.items-block{width:105%;}
.items-block:after{
	content:'';	display:block;	clear:both;
}
/* item */
.items-block .item{
	width:300px;
	display:inline-block;
	vertical-align:top;
	margin:0 36px 53px 0;
	font-size:14px;
	line-height:17px;
	color:#444;
}
* + html .items-block .item{margin:0 40px 53px 0;}
.items-block .holder{padding:0 0 0 9px;}
.items-block img{
	vertical-align:top;
	display:block;
	border:6px solid #fff;
	margin:0 0 12px;
	box-shadow: 0 2px 2px #666; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 2px 2px #666; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 2px 2px #666; /* FF 3.1+ */
}
.items-block h2{
	margin:0 0 5px;
	font:normal 28px/32px 'Times New Roman', Georgia, serif;
	color:#093461;
}
.items-block h2 a{color:#093461;}
.items-block h2 a:hover{
	text-decoration:none;
	color:#2a83d4;
}
.items-block p{margin:0 0 10px;}
.items-block .more{
	display:inline-block;
	vertical-align:top;
	background:url(../images/arrow2.png) no-repeat 1px 3px;
	padding:0 0 0 12px;
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#013266;
}
.items-block .more:hover{
	color:#2a83d4;
	text-decoration:none;
	background:url(../images/arrow2.png) no-repeat 1px -88px;
}
/* theme page */
/* intro-block */
.intro-block{
	width:968px;
	height:268px;
	background:#fff;
	padding:6px;
	position:relative;
	box-shadow:0 4px 6px #777; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow:0 4px 6px #777; /* Safari 3+, Chrome */
	-moz-box-shadow:0 4px 6px #777; /* FF 3.1+ */
}
.intro-block img{vertical-align:top;}
/* text-area */
.intro-block .text-area{
	width:932px;
	padding:18px 18px 14px;
	position:absolute;
	bottom:6px;
	left:6px;
	background:url(../images/bg-text-area.png);
	color:#ebecea;
	font:italic normal 20px/24px 'Times New Roman', Georgia, serif;
}
.intro-block .title{
	float:left;
	font-size:32px;
	line-height:34px;
	font-weight:normal;
	font-style:normal;
	color:#ededeb;
	margin:14px 43px 0 0;
}
.intro-block .holder{
	display:block;
	overflow:hidden;
}
.intro-block p{margin:0;}
/* main-block */
.main-block{
	width:980px;
	margin:0 auto 57px;
	overflow:hidden;
}
.main-block h3,
.aside .title{
	display:block;
	margin:0 0 16px;
	padding:4px 0 5px;
	color:#4e4e4e;
	font:normal 21px/30px 'Times New Roman', Georgia, serif;
	border-bottom:1px solid #989899;
}
/* aside */
.aside{
	width:160px;
	float:left;
	margin:0 40px 0 0;
}
/* side-nav */
.side-nav{
	padding:1px 0 0;	margin:0;	list-style:none;
	font-size:14px;
	line-height:16px;
}
.side-nav li{
	background:url(../images/separator3.gif) repeat-x 0 100%;
	padding:0 0 8px;
	margin:0 0 6px;
	overflow:hidden;
	vertical-align:top;
}
.side-nav a{
	color:#013266;
	float:left;
	padding:0 0 0 13px;
	background:url(../images/arrow2.png) no-repeat 0 4px;
}
.side-nav a:hover{
	text-decoration:none;
	color:#2a83d4;
}
.side-nav .active a{
	font-weight:bold;
	color:#2c2c2c;
}
/* content */
#content{
	width:520px;
	float:left;
}
#content h1{
	margin:0 0 22px;
	padding:0 0 9px;
	color:#4e4e4e;
	font:normal 28px/30px 'Times New Roman', Georgia, serif;
	border-bottom:1px solid #989899;
}
/* slide-holder */
.slide-holder{
	width:520px;
	height:344px;
	position:relative;
	margin:0 0 18px;
}
.slide-holder .frame{
	width:520px;
	height:320px;
	margin:0 0 13px;
	position:relative;
	overflow:hidden;
	box-shadow: 0 4px 4px #888; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 4px 4px #888; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 4px 4px #888; /* FF 3.1+ */
}
/* slideshow */
.slide-holder .slideshow{
	width:9999px;
	height:320px;
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.slide-holder .slideshow li{
	float:left;
	width:508px;
	height:308px;
	padding:6px;
	background:#fff;
	position:relative;
}
.slide-holder .slideshow img{vertical-align:top;}
/* text-area */
.slide-holder .slideshow .text-area{
	width:470px;
	min-height:67px;
	padding:16px 20px 17px 18px;
	position:absolute;
	bottom:6px;
	left:6px;
	overflow:hidden;
	background:#373736;
	color:#f0f0ef;
	font-size:13px;
	line-height:16px;
}
.slide-holder .slideshow .text-area .holder{
	display:block;
	overflow:hidden;
}
.slide-holder .slideshow .title{
	display:block;
	font:normal 21px/25px 'Times New Roman', Georgia, serif;
	margin:0 0 10px;
	color:#ededeb;
}
.slide-holder .slideshow p{margin:0;}
.slide-holder .slideshow .more{
	width:86px;
	padding:4px 0;
	margin:40px 0 0;
	float:right;
	font-size:11px;
	line-height:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#373736;
	text-align:center;
	background:#e6e6e5;
	border:1px solid #171515;
	border-radius: 13px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 13px; /* FF3+ */
	-webkit-border-radius: 13px; /* Safari 3+, Chrome */
	opacity: 0.7; /* FF 2+, Safari 1.2+, Chrome, Opera 9+ */
	filter: alpha(opacity=70); /* IE 6+ */
}
.slide-holder .slideshow .more:hover{
	text-decoration:none;
	opacity:1;
	filter: alpha(opacity=100); /* IE 6+ */
}
/* prev, next btns */
.slide-holder .prev,
.slide-holder .next{
	width:37px;
	height:38px;
	position:absolute;
	top:134px;
	text-indent:-9999px;
	overflow:hidden;
}
.slide-holder .prev{
	background:url(../images/sprite.png) no-repeat -224px -67px;
	left:-18px;
}
.slide-holder .next{
	background:url(../images/sprite.png) no-repeat -275px -67px;
	right:-18px;
}
/* pagination */
.pagination{overflow:hidden;}
.pagination ul{
	padding:0;	margin:0;	list-style:none;
	float:right;
}
.pagination ul li{
	float:left;
	margin:0 1px 0 8px;
}
.pagination ul a{
	background:url(../images/sprite.png) no-repeat -759px -246px;
	width:11px;
	height:11px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	outline:none;
}
.pagination ul .active a,
.pagination ul a:hover{background:url(../images/sprite.png) no-repeat -789px -246px;}
/* text-holder */
.text-holder{
	font-size:14px;
	line-height:17px;
	margin:0 0 37px;
}
#content h2{
	margin:0 0 15px;
	padding:4px 0 6px;
	color:#4e4e4e;
	font:normal 21px/29px 'Times New Roman', Georgia, serif;
	border-bottom:1px solid #989899;
}
.text-holder .holder{overflow:hidden;}
.text-holder ul{
	padding:0;	margin:0 0 0 20px;	list-style:none;
	width:250px;
	float:left;
}
.text-holder ul:first-child{margin-left:0;}
.text-holder ul li{
	background:url(../images/sprite.png) no-repeat -789px -480px;
	padding:0 0 16px 20px;
}
/* tabs-nav */
.tabs-nav{
	overflow:hidden;
	background:url(../images/separator4.gif) repeat-x 0 50%;
	margin:0 0 36px;
}
.tabs-nav .holder{
	width:271px;
	margin:0 auto;
	padding:0 5px;
	background:url(../images/bg-body.gif);
}
.tabs-holder .tabset{
	width:271px;
	margin:0;
}
.tabs-holder .tabset a{padding:6px 20px;}
.tabs-holder .tabset.scaling-active a{padding:6px 0;}
/* items-area */
.items-area{
	width:104%;
	padding:0 0 0 1px;
}
.items-area:after{
	content:'';	display:block;	clear:both;
}
/* item */
.items-area .item{
	width:240px;
	display:inline-block;
	vertical-align:top;
	margin:0 25px 43px 0;
}
* + html .items-area .item{margin:0 29px 43px 0;}
.items-area .item .holder{padding:0 0 0 8px;}
.items-area img{
	vertical-align:top;
	display:block;
	border:6px solid #fff;
	margin:0 0 11px;
	box-shadow: 0 2px 2px #666; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 2px 2px #666; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 2px 2px #666; /* FF 3.1+ */
}
.items-area h3{
	font:normal 21px/24px 'Times New Roman', Georgia, serif;
	margin:0 0 11px;
	padding:0;
	color:#0d437a;
	border:none;
}
.items-area h3 a{color:#0d437a;}
.items-area a:hover{
	text-decoration:none;
	color:#2a83d4;
}
.items-area .date{
	display:block;
	font:italic normal 12px/14px 'Times New Roman', Georgia, serif;
	color:#353535;
	margin:0 0 12px;
}
.items-area p{margin:0 0 6px;}
.items-area .more{
	display:inline-block;
	vertical-align:top;
	background:url(../images/arrow2.png) no-repeat 1px 3px;
	padding:0 0 0 10px;
	font-size:13px;
	line-height:15px;
	font-weight:bold;
	color:#013266;
}
.items-area .more:hover{background:url(../images/arrow2.png) no-repeat 1px -88px;}
/* sidebar */
#sidebar{
	width:220px;
	float:right;
}
/* contact-block */
.contact-block{
	font-size:13px;
	line-height:16px;
	color:#444;
	margin:0 0 28px;
}
.contact-block ul{
	padding:0;	margin:0;	list-style:none;
}
.contact-block ul li{margin:0 0 15px;}
.contact-block ul a{color:#003867;}
.contact-block ul a:hover{
	text-decoration:none;
	color:#2a83d4;
}
/* chat-block */
.chat-block{margin:0 0 28px;}
.chat-block h3{
	border:none;
	margin:0;
}
/* chat-form */
.chat-form{
	padding:18px 14px 34px;
	background:url(../images/bg-contact-block.gif) ;
	border:1px solid #b5b4b4;
	border-radius: 10px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 10px; /* FF3+ */
	-webkit-border-radius: 10px; /* Safari 3+, Chrome */
	box-shadow: 0 2px 2px #fff; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 2px 2px #fff; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 2px 2px #fff; /* FF 3.1+ */
}
.chat-form .info{
	display:block;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	color:#444;
	background:url(../images/sprite.png) no-repeat -454px 3px;
	padding:0 0 27px 53px;
}
.chat-form .info strong{font-weight:bold;}
.chat-form .text{
	background:#e9e9e8;
	border:1px solid #b0b0b1;
	width:162px;
	margin:0 auto 11px;
	padding:10px 11px 8px;
	display:block;
	font:italic 14px/16px Arial, Helvetica, sans-serif;
	color:#444;
	border-radius: 5px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 5px; /* FF3+ */
	-webkit-border-radius: 5px; /* Safari 3+, Chrome */
	box-shadow: 0 2px 3px #888 inset; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 2px 3px #888 inset; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 2px 3px #888 inset; /* FF 3.1+ */
}
.chat-form .btn{
	width:186px;
	height:36px;
	border:1px solid #989899;
	display:block;
	margin:0 auto;
	padding:0;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	color:#1f5184;
	cursor:pointer;
	background: rgb(248,248,248); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWVjZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(233,236,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(233,236,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(233,236,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(233,236,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(233,236,235,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(233,236,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e9eceb',GradientType=0 ); /* IE6-8 */
	border-radius: 5px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 5px; /* FF3+ */
	-webkit-border-radius: 5px; /* Safari 3+, Chrome */
	box-shadow: 0 2px 2px #fff; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 2px 2px #fff; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 2px 2px #fff; /* FF 3.1+ */
}
.chat-form .btn:hover{cursor:pointer;}
/* list-block */
.list-block{
	font-size:13px;
	line-height:16px;
	overflow:hidden;
	margin:0 0 22px;
}
.list-block ul{
	padding:3px 20px 0 0;	margin:0;	list-style:none;
}
.list-block ul li{
	overflow:hidden;
	margin:0 0 15px;
}
.list-block ul a{
	float:left;
	color:#0c427a;
	padding:0 0 0 9px;
	background:url(../images/arrow2.png) no-repeat 0 4px;
}
.list-block ul a:hover{
	text-decoration:none;
	color:#2a83d4;
}
.list-block .docs a{
	background:url(../images/sprite.png) no-repeat 0 -197px;
	padding:0 0 0 19px;
}
/* footer */
#footer{
	border-top:1px solid #bfc1bf;
	width:100%;
	overflow:hidden;
	background:#2c2c2c url(../images/bg-footer.jpg) no-repeat 50% 0;
	padding:36px 0 0;
}
/* fotoer-holder */
.footer-holder{
	width:980px;
	margin:0 auto 84px;
}
.footer-holder:after{
	content:'';	display:block;	clear:both;
}
/* side-block */
.side-block{
	float:left;
	width:400px;
	padding:28px 0 0;
}
.side-block .col{
	width:160px;
	float:left;
	margin:0 19px 0 0;
}
/* nav-area */
.nav-area{
	overflow:hidden;
	margin:0 0 2px;
}
.side-block ul{
	padding:0;	margin:0 0 25px;	list-style:none;
	font-size:13px;
	line-height:15px;
	font-weight:bold;
	text-shadow: 0 -1px 1px #000; /* FF 3.1+, Opera 9.5+, Safari 3+, Chrome  */
}
.side-block ul li{
	background:url(../images/arrow3.png) no-repeat 1px 4px;
	padding:0 0 9px 12px;
}
.side-block ul a{color:#809cb9;}
.side-block ul a:hover{
	text-decoration:none;
	color:#d1d1d1;
}
/* footer logo */
#footer .logo{
	background:url(../images/logo2.png) no-repeat;
	width:218px;
	height:97px;
	float:none;
	display:block;
	margin:0 0 0 1px;
}
/* contacts-box */
.contacts-box{
	width:512px;
	float:right;
	margin:0 -2px 0  0;
	padding:29px 10px 31px 30px;
	font-size:13px;
	line-height:20px;
	font-weight:bold;
	color:#a1a1a0;
	border-bottom:1px solid #616161;
	background:url(../images/bg-contact-box.gif) ;
	border-radius: 10px; /* Opera 10.5+, Chrome, IE9 */
	-moz-border-radius: 10px; /* FF3+ */
	-webkit-border-radius: 10px; /* Safari 3+, Chrome */
	box-shadow: 0 1px 3px #000 inset; /* Opera 10.5+, IE9+ */
	-webkit-box-shadow: 0 1px 3px #000 inset; /* Safari 3+, Chrome */
	-moz-box-shadow: 0 1px 3px #000 inset; /* FF 3.1+ */
}
.contacts-box .col{
	width:245px;
	float:left;
	margin:0 0 0 18px;
}
.contacts-box .col:first-child{margin-left:0;}
.contacts-box .holder{
	margin:0 0 22px;
	overflow:hidden;
}
.contacts-box .frame{
	margin:0 0 52px;
	overflow:hidden;
}
.contacts-box .title{
	display:block;
	font-size:13px;
	line-height:15px;
	font-weight:bold;
	color:#6e6e6e;
	margin:0 0 3px;
}
.contacts-box a{
	color:#809cb9;
	background:url(../images/arrow3.png) no-repeat 3px 4px;
	padding:0 0 0 16px;
}
.contacts-box address{
	font-style:normal;
	margin:0;
}
.contacts-box dl{
	margin:0;
	overflow:hidden;
}
.contacts-box dt{float:left;}
.contacts-box dd{
	display:block;
	margin:0;
}
.contacts-box dl a{
	color:#a1a1a0;
	background:none;
	padding:0;
}
.contacts-box ul{
	padding:0;	margin:0;	list-style:none;
}
.contacts-box ul a{padding:0 0 0 12px;}
.contacts-box p{margin:0;}
/* footer-bar */
.footer-bar{
	font:12px/15px 'Times New Roman', Georgia, serif;
	padding:13px 0 19px;
	color:#9a9a99;
	text-align:center;
	background:url(../images/bg-footer-bar.png);
}
.footer-bar ul{
	padding:0;	margin:0;	list-style:none;
}
.footer-bar ul li{
	display:inline;
	margin:0 14px;
}
.footer-bar a{color:#9a9a99;}